#root, .root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(18, 18, 18);
}

.centered-panel {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
